<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="https://maplaine.fr/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maplaine.fr/css/bootstrap-datepicker.min.css" rel="stylesheet">
        <link href="https://maplaine.fr/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://maplaine.fr/css/ionicons.min.css?v=2.0.1" rel="stylesheet">
        <script src="https://maplaine.fr/js/jquery.min.js"></script>
        <script src="https://maplaine.fr/js/bootstrap.min.js"></script>
        <script src="https://maplaine.fr/js/bootstrap-datepicker.min.js"></script>
        <script src="https://maplaine.fr/js/bootstrap-datepicker.fr.min.js"></script>
        <link href='https://maplaine.fr/lib/DataTables/datatables.min.css' rel='stylesheet' />
        <script src='https://maplaine.fr/lib/DataTables/datatables.min.js'></script>
        <script src='https://maplaine.fr/js/list.min.js'></script>
    {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
